/* Defaults */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: black;
}

body, table, p, span, a {
  font-size: 40px;
  font-family: "Lucida Console", Monaco, monospace;
}

/* Messages */

.msg {
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
}

/* Voting */

#workstation {
  padding: 50px;
}

#workstation #voting-msg,
#workstation #voted-msg,
#workstation #buttons {
  display: none;
}

#workstation.voting #buttons     { display: block; }
#workstation.voting #waiting-msg { display: none;  }

#workstation.voted  #buttons     { display: none;  }
#workstation.voted  #voted-msg   { display: block; }

#workstation #buttons {
  margin: 20px 0;
}

#workstation a {
  display: block;
  margin: 40px auto;
  border: none;
  border-radius: 20px;
  padding: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#workstation #succeed-btn { background-color: #080; }
#workstation #fail-btn    { background-color: #c00; }

